@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     
     'האתר נבנה ע"י סטודנטים של המכללה להנדסה ירושלים בחוג הנדסת תוכנה שנה ג
     <br />
     האתר מציע שימוש בצ'אט עבור תלמידי החוג הרשומים במערכת.
     <br />
     מטרת הצ'אט היא יצירת סביבת לימוד רחבה יותר, כך שהסטודנטים בחוג יוכלו להעזר אחד בשני במטלות השונות הקשורות לקורסים הנלמדים בחוג.
     <br />
   הצ'אט כולל חדרים שונים המציגים קורסים הנלמדים בחוג ,כך שהסטודנטים יוכלו לנהל שיח מסודר עבור קורס ספציפי.


</p>
